@model ProjectManagement.Models.Personnel

<div class="row">
    <div class="col-md-12">
        <h2>User Page For: @Model.Name</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h3>Your Projects</h3>
            @if (Model.ProjectPersonnels.Count == 0)
            {
                <div class="row">
                    <div class="col-md-12" style="vertical-align: middle">No Projects Assigned..</div>
                </div>
            }
            else
            {
    
                <div class="row">
                    <div class="col-md-4" style="vertical-align: middle">Name</div>
                    <div class="col-md-2" style="vertical-align: middle">Start Date</div>
                    <div class="col-md-2" style="vertical-align: middle">End Date</div>
                    <div class="col-md-2" style="vertical-align: middle">Status</div>
                    <div class="col-md-2" style="vertical-align: middle">Manager</div>
                </div>
    
                foreach (var i in Model.ProjectPersonnels)
                {
                <div class="row">
                    <div class="col-md-4" style="vertical-align: middle">@i.Project.Name</div>
                    <div class="col-md-2" style="vertical-align: middle">@i.Project.StartDate.ToString().Split(' ').First()</div>
                    <div class="col-md-2" style="vertical-align: middle">@i.Project.ExpectedEndDate.ToString().Split(' ').First()</div>
                    <div class="col-md-2" style="vertical-align: middle">@i.Project.Status</div>
                    <div class="col-md-2" style="vertical-align: middle">@i.Project.Personnel.Name</div>
                </div>
                }

            }
            <hr />
            <h3>Your Requirements</h3>
            @if (Model.Requirements.Count == 0)
            {
                <div class="row">
                    <div class="col-md-12" style="vertical-align: middle">No Requirements Currently Assigned</div>
                </div>
            }
            else
            {
    
                <div class="row">
                    <div class="col-md-3" style="vertical-align: middle">Name</div>
                    <div class="col-md-2" style="vertical-align: middle">Type</div>
                    <div class="col-md-2" style="vertical-align: middle">Time</div>
                    <div class="col-md-2" style="vertical-align: middle">Status</div>
                    <div class="col-md-3" style="vertical-align: middle">ProjectName</div>
                </div>
    
                foreach (ProjectManagement.Models.Requirement requirement in Model.Requirements)
                {
                <div class="row">
                    <div class="col-md-3" style="vertical-align: middle">@Html.ActionLink(requirement.Name, "Requirement", new { requirementId = requirement.Id })</div>
                    <div class="col-md-2" style="vertical-align: middle">@requirement.Type</div>
                    <div class="col-md-2" style="vertical-align: middle">@requirement.Time</div>
                    <div class="col-md-2" style="vertical-align: middle">@requirement.Status</div>
                    <div class="col-md-2" style="vertical-align: middle">@requirement.Project.Name</div>
                </div>
                }

            }
            <hr />
            <h3>Your Summary</h3>
            <div class="row">
                <div class="col-md-5">
                    <b>Total Projects: </b>
                </div>
                <div class="col-md-7">
                    @Model.ProjectPersonnels.Count() Projects
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <b>Total Requirements: </b>
                </div>
                <div class="col-md-7">
                    @Model.Requirements.Count() Requirements
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <b>Non Started Requirements: </b>
                </div>
                <div class="col-md-7">
                   @Model.Requirements.Where(x => x.Status == "Not Started").Count() => @Model.Requirements.Where(x => x.Status == "Not Started").Select(x => x.Time).Sum() Hours
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <b>In Progress Requirements: </b>
                </div>
                <div class="col-md-7">
                   @Model.Requirements.Where(x => x.Status == "In Progress").Count() => @Model.Requirements.Where(x => x.Status == "In Progress").Select(x => x.Time).Sum() Hours
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <b>Finished Requirements: </b>
                </div>
                <div class="col-md-7">
                   @Model.Requirements.Where(x => x.Status == "Finished").Count() => @Model.Requirements.Where(x => x.Status == "Finished").Select(x => x.Time).Sum() Hours
                </div>
            </div>
        </div>
    </div>
</div>

